# Elastic Beanstalk configuration for Django
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    DEBUG: "False"
    FILE_UPLOAD_MAX_MEMORY_SIZE: "268435456"  # 256MB
    DATA_UPLOAD_MAX_MEMORY_SIZE: "268435456"  # 256MB
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

commands:
  01_migrate:
    command: "cd /var/app/current && source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    ignoreErrors: true
  02_collectstatic:
    command: "cd /var/app/current && source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    ignoreErrors: true
